name: Sync Renovate Config

on:
  push:
    branches:
      - main
    paths:
      - '.github/renovate.json'
      - '.github/workflows/sync-renovate-config.yml'
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
    SyncRenovateConfig:
        name: Sync Renovate Config
        runs-on: ubuntu-latest
        steps:
          - name: Generate app token
            uses: actions/create-github-app-token@v2
            id: app-token
            with:
                app-id: ${{ vars.APP_ID }}
                private-key: ${{ secrets.APP_PRIVATE_KEY }}
                permission-contents: write

          - name: Checkout
            uses: actions/checkout@v6
            with:
              fetch-depth: 0
              token: ${{ steps.app-token.outputs.token }}
            
          - name: Copy renovate config to root
            run: |
              cp .github/renovate.json yuanstuffs-renovate.json

          - name: Setup Git
            run: |
              git config --local user.email "yuan-utilities[bot]@users.noreply.github.com"
              git config --local user.name "yuan-utilities[bot]"
          
          - name: Commit files
            run: |
              git add yuanstuffs-renovate.json
              if ! git diff-index --quiet HEAD --; then
                git commit -nsm "chore(renovate): sync config" -m "Original Commit: ${GITHUB_SHA}"
                git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)
              fi
